.top-bar
  .container
    .row.d-flex.align-items-center
      .col-md-6.d-md-block.d-none
        H1 Gamer Head.
      .col-md-6
        .d-flex.justify-content-md-end.justify-content-between
          .login
            a.login-btn(href='#' data-toggle='modal' data-target='#login-modal')
              i.fa.fa-sign-in
              span.d-none.d-md-inline-block Sign In
            a.signup-btn(href='customer-register.html')
              i.fa.fa-user
              span.d-none.d-md-inline-block Sign Up
          
