doctype html
head
  title Gamer Head
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet' href='/stylesheets/bootstrap.css')
  nav.navbar.navbar-expand-lg.bg-dark(data-bs-theme='dark')
    .container-fluid
      a.nav-link(href="/")
       H1 Game Head
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor02.collapse.navbar-collapse
        ul.navbar-nav.me-auto
          li.nav-item
            form.d-flex
              input.form-control.me-sm-2(type='search' placeholder='Search')
              button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
        ul.d-flex.navbar-nav
          li.nav-item
            a.nav-link(href='/SignIn') Sign in
          li.nav-item
            a.nav-link(href='/SignUp') Sign up
            
body 
  block content
  block scripts
    