extends Head
block content
  .row.banner
    .col-12
      h1=pageHeader.title
      app-home-list Loading...
block scripts  
  script(src='build/browser/polyfills-WAH3STYG.js')
  script(src='build/browser/main-MXBF65WS.js')
