extend Head
block content
  .row.banner
    .col-12
      h1=pageHeader.title
    app-home-list Loading...
  script(src='/build/browser/polyfills-BV4YUHKR.js')
  script(src='/build/browser/main-SGQTMVUU.js')