extends Head
block content
  .row.banner
    .col-12
      h1=pageHeader.title
      app-home-list Loading...
block scripts  
  script(src='build/browser/polyfills-R3PGTOTY.js')
  script(src='build/browser/main-CIMKAV6F.js')
