extend Head
block content
  .row.banner
    .col-12
      h1=pageHeader.title
    app-home-list Loading...
  script(src='/build/browser/polyfills-FFHMD2TL.js')
  script(src='/build/browser/main-JIP57T7O.js')