extends Head
block content
  .row.banner
    .col-12
      h1=pageHeader.title
      app-home-list Loading...
block scripts  
  script(src='build/browser/polyfills-4YZ2DNHG.js')
  script(src='build/browser/main-L4RT7M6Z.js')
