extend Head
block content
  .row.banner
    .col-12
      h1=pageHeader.title
    app-home-list Loading...
  script(src='/build/browser/polyfills-YYYYNGBP.js')
  script(src='/build/browser/main-FFHMD2TL.js')