extends Head
block content
    .d-flex.justtify-content-center.align-items-center
        .container.bg-secondary
            form
                fieldset
                    legend Sign in
                    .row
                    div
                        label.form-label.mt-4(for='InputEmail1') Email address
                        input#InputEmail1.form-control(type='input' aria-describedby='Username' name='username' placeholder='Enter Username')
                    div
                        label.form-label.mt-4(for='InputPassword1') Password
                        input#InputPassword1.form-control(type='password' placeholder='Password' name='password' autocomplete='off')
                    .d-flex.justify-content-center
                        button.btn.btn-primary(type='submit') Sign Up  